JYHSW2_1005/JYHSW2_Dogworld1.xsd

<?xml version="1.0" encoding="UTF-8" ?>




<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
    <xs:element name="nev" type="xs:string" />
    <xs:element name="baratja" type="xs:string" />
    <xs:element name="szuletett" type="xs:string" />
    <xs:element name="jellemezes" type="xs:string" />
    <xs:attribute name="isbn" type="xs:string" />
    <xs:element name="konyv">
        <xs:complexType>
            <xs:sequence>

            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
